<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>

		<!--Modules-->
		<script src="js/TranslateControl.js"></script>

		<!--Controllers-->
		<script src="js/Controllers/TranslateController.js"></script>

		<!--Styles-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="style/TranslateControl.css">

	</head>
	<body ng-app="TranslateControl" ng-controller="TranslateController">
		<header>
			<h1>Translate Control</h1>
		</header>

		<section class="parametrization-content">
			<p>Paste your JSON file</p>
			<textarea ng-model="jsonInput"></textarea>
			
			<div class="language-choose-content" ng-show="jsonInput != '' ">
				<p>Choose the language of this JSON</p>

				<label ng-repeat="language in collumns">
					<input type="radio" value="{{language}}" name="language" ng-model="$parent.inputJsonLanguage"> 
					{{language}}
				</label>


				{{inputJsonLanguage}}
			</div>

			<button class="btn btn-default" ng-click="addNewJsonKeys()" ng-show="jsonInput != ''">Add keys to {{inputJsonLanguage}}</button>
		</section>

		<section class="table-content">
			<table class="table table-striped">
				<thead>
					<tr>
						<th ng-repeat="collumn in collumns">
							<input type="text" value="{{collumn}}">
						</th>

						<th>
							<input type="text" placeholder="New language" ng-model="newLanguage">
							<button class="btn btn-default" ng-click="addNewLanguage()" ng-show="newLanguage != ''">Save</button>
						</th>
					</tr>
				</thead>

				<tr ng-repeat="term in terms">
					<td ng-repeat="collumn in collumns">
						<input type="text" value="{{term[collumn]}}" ng-model="term[collumn]">
					</td>
				</tr>

				<tr>
					<td>
						<input type="text" placeholder="New key" ng-model="newKey">
						<button class="btn btn-default" ng-click="addNewKey()" ng-show="newKey != ''">Save</button>
					</td>
				</tr>
			</table>
		</section>
	</body>
</html>