<div class="home" ng-controller="HomeController">
  <section>
    <table>
      <thead>
        <th>
          Keys
        </th>

        <th ng-repeat="language in languages">
          {{::language.id}}
        </th>

        <th layout="row">
          <md-input-container>
            <label>New Language ID</label>
            <input type="text" ng-model="newLanguageName">
          </md-input-container>
          <md-button
            class="md-fab md-mini"
            aria-label="Confirm"
            ng-click="addNewLanguage()"
            ng-show="newLanguageName !== ''">√
          </md-button>
        </th>
      </thead>

      <tbody>
        <!-- First Line -->
        <tr class="even">
          <td>
            <md-input-container>
              <label>New Key</label>
              <input type="text" ng-model="newTerm.key">
            </md-input-container>
            <input type="text">
            <md-button
              class="md-fab md-mini"
              aria-label="Confirm"
              ng-click="addNewTerm()"
              ng-show="newTerm.key !== ''">√
            </md-button>
          </td>

          <td ng-repeat="language in languages">

          </td>
        </tr>

        <tr ng-repeat="key in getAllKeys()" ng-class="$index %2 !== 0 ? 'even' : 'odd'">
          <!--Key-->
          <td>
            {{key}}
          </td>

          <!--Values of other languages-->
          <td ng-repeat="language in languages">
            <md-input-container>
              <label>{{language.terms[key]}}</label>
              <input type="text" ng-model="language.terms[key]">
            </md-input-container>
            <md-button
              class="md-fab md-mini"
              aria-label="Confirm"
              ng-click="updateTermWithValueOfLanguage(key,language.terms[key],language)"
              ng-show="language.terms[key] !== ''">√
            </md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
